@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #423137;
  --bg-brown: #423137;
  --bg-orange: #FF8B37;
  --text-dark: #423137;
  --text-orange: #FF8B37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FFFFFF;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-brown {
  color: var(--text-brown);
}

.text-orange {
  color: var(--text-orange);
}

.bg-brown {
  background-color: var(--bg-brown);
}

.bg-orange {
  background-color: var(--bg-orange);
}

.menu-active {
  background-color: var(--bg-brown);
  color: white !important;
}

.menu-hover:hover {
  background-color: var(--bg-brown);
  color: white !important;
}

@media (max-width: 640px) {
  .hidden-border-page {
    display: none;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}
